/* HTML Elements */

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat";
    font-weight: 900;
}


/* INDEX.HTML */


/* NAVBAR */


.navbar {
    background-color: rgba(237, 244, 224, 0.5);
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 7%;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: background-color 0.2s ease-in-out;
}

.navbar.scrolled {
    background-color: #fda77f !important;
    width: 100%;
    padding: 2% 7% 2%;
    transition: background-color 200ms linear;
    position: fixed;
    top: 0;
}

.navbar.scrolled .nav-link {
    color: #445c3c !important;
    text-transform: uppercase;
}


.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #234d3a !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 991px) {
    .navbar-brand {
        font-family: "Ubuntu";
        font-size: 2.5rem;
        font-weight: bold;
        color: #234d3a !important;
        position: inherit;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
    }
}


.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: #234d3a !important;
    transition: all .2s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.1);
}

.navbar-toggler-icon {
    float: right !important;
}

.nav-active {
    text-decoration: underline;
    text-decoration-color: rgba(81, 124, 99, 0.8);
    text-underline-position: under;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    .navbar-brand {
        transform: translateX(-25%);
    }
}

/* HEADER SECTION */

.header-section {
    padding-top: 1px !important;
}

.trans--grow {
    -webkit-transition: width 1s ease-out;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s ease-out;
    width: 0%;
}

.grow {
    width: 100%;
}

.divider {
    border: 1px solid #234d3a;
    border-radius: 5px;
}


.colored-section {
    background: rgba(237, 244, 224, 0.5);
    padding: 3% 7% 15%;
    text-align: left;
}

.header-section {
    padding-bottom: 10% !important;
}

.heading {
    padding-top: 50px;
}

.big-heading {
    width: 86.9%;
    height: 52.5%;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    font-size: 55px;
    color: #234d3a;
    padding: 95px 0;
}

.big-heading span {
    text-decoration: underline;
    text-decoration-color: #49912E;
    transition: all .2s ease-in-out;
}

.big-heading-about span {
    text-decoration: underline;
    text-decoration-color: #49912E;
    transition: all .2s ease-in-out;
}

.big-heading-about-right span {
    text-decoration: underline;
    text-decoration-color: #49912E;
    transition: all .2s ease-in-out;
}

.big-heading span:hover {
    color: #49912E;
    transform: scale(1.1);
}

.big-heading-about span:hover {
    color: #49912E;
    transform: scale(1.1);
}

.big-heading-about-right span:hover {
    color: #49912E;
    transform: scale(1.1);
}

.call-button {
    position: relative;
    top: 110px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #234d3a;
    transition: all .2s ease-in-out;
}

.call-button:hover {
    transform: scale(1.1);
    background-color: #234d3a;
}

.call-button i {
    margin-right: 8px;
}

@media (max-width: 1061px) and (min-width: 992px){
    .call-button {
        top: 130px;
    }
}


@media (max-width: 513px) {
    .call-button {
        top: 230px;
    }
}



.title-image {
    width: 101.5%;
    padding-top: 10px;
    border-radius: 120px;
    margin: 30px 0;
}

#title a {
    color:white;
}



/* FEATURES */

.container-fluid {
    padding: 3% 3% 3% 3%;
    width: 80%;
    background-color: white;
}

#features {
    position: relative;
    background: linear-gradient(rgba(237, 244, 224, 0.5) 50%, rgba(81, 124, 99, 0.8) 50%) no-repeat;
}

.feature-title {
    font-size: 1.4rem;
}

.feature-box {
    padding: 1% 1% 1% 1%;
    line-height: 1.5;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

@media only screen and (max-width: 768px) {
    #features {
        display: none;
    }
}

/* ABOUT */

#about {
    background: rgba(81, 124, 99, 0.8);
    padding: 10% 7% 15%;
    text-align: left;
}

.about-image {
    width: 90%;
    padding-top: 10px;
    margin: 30px 0;
}

.about-heading {
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 1.5;
    font-size: 45px;
    color: #f8f3e9;
    text-align: center;
}

.about-paragraph1 {
    padding-top: 15%;
    color: #F0E8D9;
    line-height: 2;
    text-align: justify;
    text-indent: 15%;
}

.about-paragraph2 {
    padding-top: 15%;
    color: #F0E8D9;
    line-height: 2;
    text-align: justify;
    text-indent: 15%;
}

.about-link {
    color: #234d3a;
    font-size: 20px;
    text-decoration: underline;
}

.about-button {
    font-size: 16px;
    border-radius: 20px;
    background-color: #f8f3e9;
    border-color: #f8f3e9;
    color: #234d3a;
    margin-top: 2%;
    transition: all .2s ease-in-out;
}

.about-button:hover {
    transform: scale(1.1);
    background-color: #f8f3e9;
    border-color: #f8f3e9;
    color: #234d3a;
}

@media only screen and (max-width: 768px) {
    .cali {
        align-content: center;
        height:300px;
        width:300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }

    .about-paragraph2 {
        padding-top:5%;
    }

    .skate {
        align-content: center;
        height: 200px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }

}
/* CONTACT */

.contact-heading {
    padding-top: 1%;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 1.5;
    font-size: 45px;
    color: #234d3a;
}

.list-group {
    display: inline-block;
}

.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card-header {
    background-color: rgba(201, 217, 158, 0.9);
}

.card-divider {
    margin-top: 2.5rem;
    margin-bottom: 2.2rem;
}

.product-image {
    width: 200px;
    height: 200px;
    padding-bottom: 5%;
}

.product-check {
    color: green;
    margin-left: 10px;
}

.product-uncheck {
    color: red;
    margin-left: 10px;
}

/* Graphic Design Portfolio */

#portfolio {
    /* background-color: rgba(201, 217, 158, 0.9); */
    background-color: rgba(81, 124, 99, 0.8);
    color: #f8f3e9;
}

#portfolio-carousel {
    padding: 0% 7% 0%;
}

.portfolio-text {
    padding-top: 1%;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 1.5;
    font-size: 55px;
}

.portfolio-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 7% 15%;
}

#portfolio a {
    color: #white;
}

#portfolio a:hover {
    color: #ef8172;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 768px) {
    .carousel-img {
        align-content: center;
        height: 237px;
        width: 237px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }

    .carousel-btn {
        font-size: 75%;
    }
}


/* CONTACT US */

#contact {
    padding: 3% 7% 9%;

}

.contact-column {
    padding: 3%;
}

#contact p {
    padding-top: 12px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

#contact .contact-paragraph {
    padding-top: 2%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
}

#contact .contact-paragraph a {
    color:black;
}

#contact .card {
    text-align: center;
    transition: 0.4s ease-out;
    height: 100%;
    padding: 3% 2%;
    color: #234d3a;
}

#contact .card:hover {
    transform: scale(1.1);
    transition: 0.4s ease-out;
}

#contact .card-img-top {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0;
}

.bar {
    position: relative;
    margin: 10% 0 15%;
    height: 5px;
    width: 100%;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: #ef8172;
    transition: 0.6s ease-out;
}

#contact .card:hover .filledbar {
    width: 100%;
    transition: 0.4s ease-in-out;
}

#contact .card-body h6 {
    font-size: .9rem;
}

#contact a {
    color: #234d3a;
}

@media (max-width: 1400px) {

    .emptybar {
        background-color: #2e3033;
        width: 100%;
        height: 100%;
    }

    .filledbar {
        position: absolute;
        top: 0px;
        z-index: 3;
        width: 0px;
        height: 100%;
        background: rgb(0, 154, 217);
        background: #fda77f;
        transition: 0.6s ease-out;
    }

    #contact .card:hover .filledbar {
        width: 100%;
        transition: 0.4s ease-in-out;
    }
}


/* FOOTER */

#footer {
    background-color: rgba(81, 124, 99, 0.8);
    color: #f8f3e9;
}

.footer-section {
    padding: 5% 3% 5% 3%;
    width: 100%;
    background-color: rgba(81, 124, 99, 0.8);
}

.footer-section p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 80%;
    line-height: 2;
}

footer a {
    color: white;
}

footer a:hover {
    color:#fda77f 
}

.socials {
    margin: 20px 10px;
}

/* ABOUT PAGE */

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span {
    background-color: rgba(81, 124, 99, 0.7);
    color: #f8f3e9;
    padding: 18px;
}

.parallax {
    height: 100%;
    background-position: 50% -300%;
    opacity: 0.6;

    /* Parallax Effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image1 {
    background-image: url('../images/Wearing Lifeline Autoalert Button.jpg');
}

.background-image2 {
    background-image: url('../images/collage4.png');
}

.background-image3 {
    background-image: url('../images/people19.jpg');
}

.background-image4 {
    background-image: url('../images/people1.jpg');
}

.history {
    height: auto;
    background-color: rgba(81, 124, 99, 0.8);
    color: #f8f3e9;
    line-height: 2;
    font-size: 100%;
    padding: 7% 14%;
    text-align: left;
}

.history h1 {
    padding-bottom: 2%;
}

#coursework {
    padding-bottom: 2%;
}